section, article {
    text-align: center;
    vertical-align: middle;
}

.box {
    min-height: 50px;
    min-width: 50px;
    display: inline-block;
}

.blue {
    background: blue;
    color: white;
}

.red {
    background: red;
    color: white;
}