section {
    text-align: center;
    vertical-align: middle;
}

li {
    list-style: none;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
}

th[scope="col"] {
    background-color: #696969;
    color: #fff;
}

th[scope="row"] {
    background-color: #d7d9f2;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    margin: 0 auto;
    width: 75%;
}

.status {
    text-transform: capitalize;
}

tr.fulfilled .status {
    color: #0a3d01;
    background: #c4ffd2;
}

tr.rejected .status {
    color: #785624;
    background: #ffe4c4;
}

tr.exception .status {
    color: #910909;
    background: #ffc4c4;
}
